/* Typography  */

@import url('https://fonts.googleapis.com/css?family=Karla');

@font-face {
  font-family: "Cervo";
  src: url(cervo.ttf) format("truetype");
  /*
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Mandali', sans-serif;
  */
}

h1 {
  margin-top: 10px;
  font-size: 44px;
  font-weight: 200;
  font-family: 'Mandali', sans-serif;

}
h2 {
  margin-top: 90px;
  font-size: 40px;
  font-family: 'Mandali', sans-serif;
  color: #000000;
}


.values {
  color: #ffffff;
}


h3,h4,h5 {
  /*font-family: "Cervo", Helvetica, Arial;*/
}
sup {
  position: relative;
  font-size: 65%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}

body {
  font-family: "Karla", Helvetica, Arial;
  background-color: #FFFFFF;

}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #ffffff;
  text-decoration: underline;
}
a:focus {
  /*outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;*/
}

p.uppercase {
    text-transform: uppercase;
}

p.lowercase {
    text-transform: lowercase;
}

p.capitalize {
    text-transform: capitalize;
}

/** Header  */

.navbar {
  background-color: transparent;
  /*font-family: "Cervo", Helvetica, Arial;*/
  border-bottom:none;
}
.navbar-brand {
  background: url('../images/Logosmall.png') 30% no-repeat ;
  color: #FFFFFF;
  padding-top: 10px;
  padding-left: 160px;
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
}

.navbar-apical {
  background-color: transparent;
  border-color: transparent;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-apical .nav li a {
  color: #fff;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-weight: 500;
  font-size:15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.navbar-nav > li > a {
  padding-top: 25px;
  border-top: 6px solid transparent;
}


.nav > li > a {
  padding: 8px 12px 15px 12px;
}
.navbar-apical .navbar-nav > .active > a,
.navbar-apical .navbar-nav > .active > a:hover {
  background: transparent;
  color: #fff;*/
  border-top: 6px solid #1ab394;
}
.navbar-apical .navbar-nav > li > a:hover {
  color: #1ab394;
}
.navbar-apical .navbar-nav > .active > a:focus {
  background: transparent;
  color: #fff;
}
.navbar-apical.navbar-scroll .navbar-nav > .active > a:focus {
  background: transparent;
  color: inherit;
}

.navbar-scroll.navbar-apical .nav li a {
  color: #676a6c;
}
.navbar-scroll.navbar-apical .nav li a:hover {
  color: #1ab394;
}
.navbar-wrapper .navbar.navbar-scroll {
  padding-top: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #e7eaec;
  border-radius: 0;
}

.navbar-scroll .navbar-nav > li > a {
  padding: 20px 10px;
}
.navbar.navbar-scroll .navbar-brand {
  margin-top: 15px;
  border-radius: 5px;
  font-size: 12px;
  padding: 10px;
  height: auto;
}




/* BACKGROUNDS SLIDER, SECTIONS
-------------------------------------------------- */
.header-back {
  height: 900px;
  width: 100%;
}
.header-back.one {
  background: url('../images/hero.png') 50% 0 no-repeat;
}

.services-back {
  height: 870px;
  width: 100%;
}
.services-back.one {
  background: url('../images/Services.png') 50% 0 no-repeat;
}

.values-back {
  height: 770px;
  width: 100%;
}
.values-back.one {
  background: url('../images/values.png') 50% 0 no-repeat;
}
/*.vcontent  {
  padding-top: 100px;
  padding-right: 85px;
  padding-left: 85px;
  color: #ffffff;
}*/


.values-content {
  padding: 100px 150px 100px 150px;
  font-family: 'Mandali', sans-serif;
  color: #ffffff;
}

.values-content h4, ul>li{
  font-size: 20px;
}

.redfont {
  color : #b70303;
}

.vred-line {
  width: 140px;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid #b70303;  /* red hr line **/

}


.marketing {
  height: auto;
  width: 100%;
}

.marketing .content {
  padding-left: 100px;
  padding-right: 150px;
  padding-bottom: 80px;
}

.marketing .content .reference p{
  padding-top: 20px;
  padding-bottom: 70px;
}

.team {
  height: 600px;
  width: 100%;
}

.contact {
  width:100%
  height: auto;
}

.map {
  height: auto;
  width: 100%;
}

.map-back.one {
  height: 490px;
  width: 100%;
    background: url('../images/usphsmirror.png') 50% 0 no-repeat;
}


.subfooter {
  height: 400px;
  width:100%;
}

.subfooter-back {
  background-color: #0d2132;
}


.subfooter img {
  width: 10%;
  height: 10%;
}


.subfooter .subcont {
  padding-top: 100px;
  color: #ffffff;
  text-align: left;
  padding-right: 80px;
}

.subfooter .form-control {
  display: inline-block;
  width: 60%;
  height: 44px;
  /*padding: 6px 12px;*/
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.subfooter .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.subfooter .brand {
  margin-top: 50px;
  /*margin-left: 10px;*/
  padding-left: 10px;
  color: #FFFFFF;
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
}

.subfooter .copyright {
  color: #ffffff;
  margin-top: 100px;

}

.footer {

  padding-top: 8px;
  color: #FFFFFF;
  font-size: 20px;
  background-color: #b70303;
  font-family: 'Mandali', sans-serif;
}

.fcontent {
  padding-top:10px;
}

.footer.form-control {
  display: inline-block;
  width: 10%;
  height: 34px;
  /*padding: 6px 12px;*/
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.footer .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.footer .input-lg {
  border-radius: 1px;
  margin-bottom: 10px;
  margin-top:0;
}

.footer .btn-lg {

  margin-bottom: 10px;
  margin-top:0;
}



.red-line {
  width: 140px;
  height: 1px;
  margin: 60px auto 0;
  margin-bottom: 80px;
  border-bottom: 2px solid #b70303;  /* red hr line **/

}

/*.container {
  padding-right: 85px;
  padding-left: 85px;
  margin-right: auto;
  margin-left: auto;
}*/

.content-left{
  padding-left: 50px;
  margin-left: auto;

}

.content-right{
  padding-right: 70px;
  margin-right: auto;

}


/* CUSTOMIZE NAVIGATION LAYOUT**/

@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: 100px;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}



/* Carousel base class */
.carousel {
  height: 470px;
}

.carousel-caption {
  position: absolute;
  top: 130px;
  bottom: auto;
  text-align: center;
}
.carousel-caption.blank {
  top: 200px;
  width: 100%;
}
.carousel-caption h1 {
  font-weight: 500;
  font-size: 55px;
  /*text-transform: uppercase;*/
  text-shadow: none;
  letter-spacing: -1.5px;
}
.carousel-caption p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 200;
  font-size: 18px;
  /*text-transform: uppercase;*/
  text-shadow: none;
}

.carousel-caption p > a{
 font-weight: lighter;
}



/* MODIFY BUTTONS
-------------------------------------------------- */
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 0;
}

.arrow {
    padding-top: 70px;\

}

/* SERVICES Section */
.services {
  padding-top: 40px;
}
.services-content {
  padding: 0 150px 10px 150px;
  font-family: 'Mandali', sans-serif;
  color: #000000;
}

.services-content .title {
  font-weight: bold;
}

.services-content p {
  padding-top: 20px;
  padding-bottom: 30px;
}

.services-content p > a{
  font-weight: lighter;
  width:250px;
}
.services_p {
  margin-left: 25px;
  margin-right: 30px;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
}
.services_p ul>li{
  margin-bottom: 18px;
}
.services-box {
  background-color: #ffffff;
  border: 0;
  width: 306px;
  height: auto;
  box-shadow: 1px 1px 1px  #888888;


}


.services-box.one {
}

.services-box.two {
  margin-top:40px;
}
.services-box.three {
  margin-top:80px;
}

.smallred-line {
  width: 100px;
  height: 1px;
  margin: 60px auto 0;
  margin-top: 10px;
  margin-bottom: 30px;
  border-bottom: 2px solid #b70303;  /* red hr line **/
}

/* images inside services box **/
.object-fit_none { object-fit: none }


.image {
  float: left;
  width: 4%;
  /*margin: 0 30px 20px 0;*/

  &:nth-child(2n) {
    clear: left;
  }

  &:nth-child(2n+1){
    margin-right: 0;
  }
}
.services-box.one.image {

}


/* CONTACT Section */
.contact-box {
  background-color: #ffffff;
  border: 0;
  width: 900px;
  margin-bottom: 90px;
  height: auto;
  box-shadow: 0px 1px 1px gray,
         -1px 1px 1px gray, 1px 1px 1px gray;
}
.contact-box h2{
  text-transform: uppercase;
}

.contact-box p{
  margin-bottom: 100px;
}
.contact-box a{
  width: 30%;
  font-weight: lighter;
}



.contact-content {
  margin-top:50px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
  font-size: 18px;
  font-family: 'Mandali', sans-serif;
  color: #000000;
}

.cred-line {
  width: 140px;
  height: 1px;
  margin: 40px auto 0;
  margin-bottom: 30px;
  border-bottom: 2px solid #b70303;  /* red hr line **/

}

.contact-content input {
  margin-bottom: 50px;
  border-radius: 1px;
  border-width: 1.5px;
  border-color: #000000;
  height: 37px;
}

.contact-content textarea {
  height: 160px;
  border-radius: 1px;
  border-width: 1.5px;
  border-color: #000000;

}



.contact-content select {
  margin-bottom: 30px;
  border-width: 1.5px;
  border-color: #000000;
}




/* values Section */
