/* Typography  */

@import url('https://fonts.googleapis.com/css?family=Karla');

@font-face {
  font-family: "Cervo";
  src: url(cervo.ttf) format("truetype");
}

h1,h2,h3,h4,h5 {
  font-family: "Cervo", Helvetica, Arial;
}

body {
  font-family: "Karla", Helvetica, Arial;
  background-color: #FFFFFF;
}

/** Header  */

.navbar {
  background-color: transparent;
  font-family: "Cervo", Helvetica, Arial;
  border-bottom:none;
}
.navbar-brand {
  color: #EAECE7;
  font-size: 24px;
}
.navbar-inverse .navbar-brand {
  color: #EAECE7;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #0C1E3E;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  transition: all 0.3s ease-in-out 0s;
}

/* BACKGROUNDS SLIDER, SECTIONS
-------------------------------------------------- */
.header-back {
  height: 870px;
  width: 100%;
}
.header-back.one {
  background: url('../images/hero.png') 50% 0 no-repeat;
}

.services-back {
  height: 670px;
  width: 100%;
}
.services-back.one {
  background: url('../images/Services.png') 50% 0 no-repeat;
}

.values-back {
  height: 770px;
  width: 100%;
}
.values-back.one {
  background: url('../images/values.png') 50% 0 no-repeat;
}
