.contactform-input {
    margin-bottom: 24px;
  }

  .contactform-input > .label {
    display: block;
    margin-bottom: 8px;
  }

  .contactform-input > .select {
    padding: 8px;
    height: 56px;
    border-radius: 0px;
  }

  .contactform-input > .input,
  .contactform-input > .select,
  .contactform-input > .textarea {
    width: 100%;
    border: 0;
    border-radius: 0;
    border: 1px solid #0D2132;
  }

  .contactform-input > .input,
  .contactform-input > .select,
  .contactform-input > .textarea,
  .contactform-submit {
    margin: 0 auto;
    padding: 16px 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 0;
  }

  .contactform-input > .textarea {
    resize: none;
    height: 160px;
    border-radius: 0;
  }

  .contactform-submit {
    border: 0;
    padding: 16px 30px;
  }

  .bonus-input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
    height: 100%;
  }

  .bonus-input > input {
    padding: 16px;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin-right: 20px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border: 1px solid #0D2132;
  }

  .bonus-submit {
    padding: 0px 16px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border: none;
    font-size: 16px;
    letter-spacing: 2px;
  }
