body {
  @include font-karen;
  margin: 0;
  padding: 0;
  display: block;
  color: #0D2132;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  @include font-nunito;
  font-weight: 100;
}

p {
  line-height: 25px;
  font-size: 18px;
  font-weight: 100;
}

ul {
  list-style-type: none;
}

h1 { font-size: 48px }
h2 { font-size: 40px }
h3 { font-size: 33px }
h4 { font-size: 28px }
h5 { font-size: 23px }
h6 { font-size: 19px }

em {
  color: map-get($colors, accent);
  text-decoration: underline;
  font-style: normal;
}

.typography-dark {
  margin: 10px;
  background-color: map-get($colors, primary);
}

.nav-link {
  color: #ffffff;
  font-weight: 200;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  padding: 32px 24px;
  text-decoration: none;
  -webkit-transition: background 200ms ease-out;
  transition: background 200ms ease-out;
}

.nav-link:hover {
  background: rgba(255,255,255,0.1);
}

.nav-cta {
  background-color: #70B3B8 !important;
  margin: 16px 8px;
  padding: 16px !important;
}

.nav-cta:hover {
  background-color: #7DC9CF !important;
}
