/* Defaults */
  body {
    margin: 0;
    padding: 0;
    display: block;
    color: #0D2132;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
  }

  h1 { font-size: 48px }
  h2 { font-size: 40px }
  h3 { font-size: 33px }
  h4 { font-size: 28px }
  h5 { font-size: 23px }
  h6 { font-size: 19px }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
  }

  p {
    /* line-height: 21px; */
    /* font-size: 16px;  */
    line-height: 25px;
    font-size: 18px;
    font-weight: 100;
  }

  ul {
    list-style-type: none;
  }

  .italic {
    font-style: italic;
  }

  .bold {
    font-weight: bold;
  }

  .primary-font {
    font-family: 'Karla', sans-serif;
  }

  .secondary-font {
    font-family: 'Nunito', sans-serif;
  }
