---
notes: |
  These are notes associated with this `solutions` template.
---

<div style="height: 110px; z-index: 1000; background: white; margin: 0 -1em;">
</div>

<div style="position: relative; margin: 0 -1em;">
  <header class="navigation-section navigation-section-test">
    <div class="header__logo">
      <img class="header__logo-image" src="assets/toolkit/images/logos/apical-logo-black.svg" /><span class="header__logo-text navigation-section__header-logo">APICAL DESIGN</span>
    </div>

    <div class="navigation-section__spacer"></div>

    <nav class="navigation-header__block">
      <a href="" class="navigation-link">UX Reviews</a>
      <a href="" class="navigation-link">About Us</a>
      <a href="" class="navigation-link">Our Solutions</a>
      <a href="" class="navigation-link">Training</a>
    </nav>

    <a href="" class="btn navigation-section__button">Contact Us</a>

    <button class="menu-button navigation-section__sidebar-menu-button">MENU</button>
  </header>

  <section class="hero-section__block">
    <div class="hero-section__background-group">
      <div class="hero-section__background-color"></div>
      <div class="hero-section__background-image"></div>
    </div>
    <header class="hero-header__block hero-header__block--center">
      <img class="hero-section__logo" src="assets/toolkit/images/logos/apical-logo-black.svg" />
      <h1 class="hero-section__title">HERO SECTION TITLE</h1>
      <p class="hero-section__caption">Hero Section title caption that is long for the caption title</p>
      <a href="" class="btn">Anchor CTA Button</a>
    </header>
  </section>

  <section class="text-section__block">
    <header class="text-section__header">
      <h3 class="text-section__title section__title section__title--center">DESIGN SPRINTS</h3>
    </header>

    <div class="text-section__container">
      <p>We offer a holistic approach in our design services, including: journey-mapping, ideation, storyboarding, user stories, wireframing, prototyping, usability testing, and visual design.</p>
      <p>We also partner with local software development vendors to bring your designs to market.</p>
    </div>
  </section>

  <section class="text-section__block">
    <header class="text-section__header">
      <h3 class="text-section__title section__title section__title--center">USER RESEARCH</h3>
    </header>

    <div class="text-section__container">
      <p>We believe research creates the best user experiences. We help your team uncover insights on your users through research practices, such as: usability testing, A/B testing, user interviews, card sorting,  and more.</p>
    </div>
  </section>

  <section class="text-section__block">
    <header class="text-section__header">
      <h3 class="text-section__title section__title section__title--center">DOCUMENTATION</h3>
    </header>

    <div class="text-section__container">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam enim sunt sapiente molestias, sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.</p>
    </div>
  </section>

  <section class="text-section__block">
    <header class="text-section__header">
      <h3 class="text-section__title section__title section__title--center">TEAM ASSISTANCE</h3>
    </header>

    <div class="text-section__container">
      <p>We provide general assistance to your design workflow on a monthly retainer. These services include: wireframing, documentation, usability testing, visual design, and more.</p>

      <p>You can also have our team members assist your design team for a certain period of time.</p>
    </div>
  </section>

  <section class="text-section__block">
    <header class="text-section__header">
      <h3 class="text-section__header__title section__title section__title--center">LET’S BUILD SOMETHING AMAZING, TOGETHER</h3>
    </header>

    <form class="contact-form__form">
      <div class="contact-form__column">
        <div class="input-label-group__block">
          <label class="input-label-group__label">
            This is a Label
          </label>
          <input class="form__input-text input-label-group__input" placeholder="Placeholder" type="text"/>
        </div>

        <div class="input-label-group__block">
          <label class="input-label-group__label">
            This is a Label
          </label>
          <input class="form__input-text input-label-group__input" placeholder="Placeholder" type="text"/>
        </div>

        <div class="input-label-group__block">
          <label class="input-label-group__label">
            This is a Label
          </label>
          <input class="form__input-text input-label-group__input" placeholder="Placeholder" type="text"/>
        </div>

      </div>
      <div class="contact-form__column">
        <div class="input-label-group__block">
          <label class="input-label-group__label">
            This is a Label
          </label>
          <select class="form__select input-label-group__input">
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 4</option>
            <option>Option 5</option>
          </select>
        </div>

        <div class="input-label-group__block">
          <label class="input-label-group__label">
            This is a Label
          </label>
          <textarea class="form__textarea input-label-group__input contact-form__textarea" placeholder="This is a textarea?" type="paragraph"></textarea>
        </div>

      </div>
    </form>
  </section>
</div>

