---
notes: |
  These are notes associated with this `solutions` template.
---

<div style="height: 110px; z-index: 1000; background: white;">
</div>

<div style="position: relative">
  <header class="navigation-section navigation-section-test">
    <div class="header__logo">
      <img class="header__logo-image" src="assets/toolkit/images/logos/apical-logo-black.svg" /><span class="header__logo-text">APICAL DESIGN</span>
    </div>

    <div class="navigation-section__spacer"></div>

    <nav>
      <a href="" class="navigation-link">UX Reviews</a>
      <a href="" class="navigation-link">About Us</a>
      <a href="" class="navigation-link">Our Solutions</a>
    </nav>

    <a href="" class="btn">Anchor Button</a>
  </header>

  <section class="hero-section__block">
    <div class="hero-section__background-group">
      <div class="hero-section__background-color"></div>
      <div class="hero-section__background-image"></div>
    </div>
    <header class="hero-header__block hero-header__block--center">
      <img class="hero-section__logo" src="assets/toolkit/images/logos/apical-logo-black.svg" />
      <h1 class="hero-section__title">HERO SECTION TITLE</h1>
      <p class="hero-section__caption">Hero Section title caption that is long for the caption title</p>
      <a href="" class="btn">Anchor CTA Button</a>
    </header>
  </section>

  <section class="text-section__block">
    <header class="text-section__header">
      <h3 class="text-section__title section__title section__title--center">DESIGN SPRINTS</h3>
    </header>

    <div class="text-section__container">
      <p>We offer a holistic approach in our design services, including: journey-mapping, ideation, storyboarding, user stories, wireframing, prototyping, usability testing, and visual design.</p>
      <p>We also partner with local software development vendors to bring your designs to market.</p>
    </div>
  </section>

  <section class="text-section__block">
    <header class="text-section__header">
      <h3 class="text-section__title section__title section__title--center">USER RESEARCH</h3>
    </header>

    <div class="text-section__container">
      <p>We believe research creates the best user experiences. We help your team uncover insights on your users through research practices, such as: usability testing, A/B testing, user interviews, card sorting,  and more.</p>
    </div>
  </section>

  <section class="text-section__block">
    <header class="text-section__header">
      <h3 class="text-section__title section__title section__title--center">DOCUMENTATION</h3>
    </header>

    <div class="text-section__container">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam enim sunt sapiente molestias, sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.</p>
    </div>
  </section>
</div>

