// mixins
@mixin navigation__link--base {
  font-weight: 200;
  font-size: 16px;
  @include font-nunito;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: background 200ms ease-out;
  transition: background 200ms ease-out;
  color: map-get($colors, light);
}

// default
body {
  @include font-karla;
  margin: 0;
  padding: 0;
  display: block;
  color: #0D2132;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  @include font-nunito;
  font-weight: 100;
}

p {
  line-height: 25px;
  font-size: 18px;
  font-weight: 100;
}

ul {
  font-size: 18px;
}

li {
  margin-bottom: 12px;
  line-height: 20px;
}

h1 { font-size: 48px }
h2 { font-size: 40px }
h3 { font-size: 33px }
h4 { font-size: 28px }
h5 { font-size: 23px }
h6 { font-size: 19px }

em {
  color: map-get($colors, accent);
  text-decoration: underline;
  font-style: normal;
}

label {
  margin-bottom: 16px;
  display: block;
  text-align: center;
}

// classes
.navigation {
  &__link {
    @include navigation__link--base;
    padding: 32px 24px;
  }

  &__link:hover {
    background: rgba(255,255,255,0.1);
  }

  &__cta {
    @include navigation__link--base;
    background-color: map-get($colors, secondary);
    margin: 16px 8px;
    padding: 16px;
  }

  &__cta:hover {
    background-color: map-get($colors, secondary-light);
  }
}

.hero-section {
  &__title {
    margin-top: 0px;
    margin-bottom: 24px;
    color: map-get($colors, light);
  }

  &__caption {
    color: map-get($colors, light);
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 36px;
  }
}

.section {
  &__title {
    @include reset;
  }

  &__title:after {
    content: '';
    background-color: map-get($colors, accent);
    width: 100%;
    height: 2px;
    max-width: 96px;
    display: block;
    margin: 36px auto 48px 0px;
  }

  &__title--center {
    text-align: center;
  }

  &__title--center:after {
    margin: 36px auto 48px;
  }

  &__title--color-light {
    color: map-get($colors, light)
  }

  &__caption {
    text-align: center
  }

  &__footnote {
    font-size: 13px;
  }
}

