.subscribe {
  &__block {
    padding: 20px 24px;
    max-width: 650px;
    margin: 0 auto;
    box-shadow: 0px 5px 20px -5px rgba(153,153,153,1);
  }

  &__header {
    text-align: center;
  }

  &__title {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  &__caption {
    margin-top: 0px;
  }

  &__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

}
