.contact-form {
  &__form {
    text-align: left;
    padding: 56px;
    margin: auto;
    box-shadow: 0px 5px 20px -5px rgba(153,153,153,1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  &__column {
    @include flex-0(48%);
  }

  &__textarea {
    resize: none;
    height: 157px;
    border-radius: 0
  }


  @include media(640px) {
    &__column {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }

    &__form {
      display: block;
    }
  }


}
