.footer-section {
  &__block {
    text-align: center;
    background-color: map-get($colors, primary);
    color: map-get($colors, light);
    padding: 80px 48px;
  }

  &__logo-block {
    text-align: left;
  }

  &__logo:after {
    content: '';
    background-color: map-get($colors, accent);
    width: 100%;
    height: 2px;
    max-width: 96px;
    display: block;
    margin: -4px auto 20px 145px;
  }

  &__copyright {
    padding-top: 50px;
  }

  &__navigation {
    margin-left: 25px;
  }
}
