.navigation-section {
  @include layout-horizontal;
  @include layout-center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: map-get($colors, primary-faded);
  height: 80px;
  padding: 0 48px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  justify-content: space-between;
  z-index: 8;
  transition: padding 200ms ease;

  &.navigation-section-test {
    position: absolute;
  }

  &__sidebar-menu-button {
    display: none;
  }

  @include media(1250px) {
    padding: 0 24px;



    &__header-logo {
      display: none;
    }
  }

  @include media(920px) {
    &__button {
      display: none;
    }

    &__sidebar-menu-button {
      display: block;
    }
  }
}

.navigation-section__spacer {
  @include layout-flex;
}

